

// Colors
$red: #EF1D25;
$white: white;
$blue: #296FA8;
$grey: #d6d2d2;

// Variables
$primary: $red;
$light: $white;
$info: $blue;
$tarjetas: $grey;
$background: $blue;

$navbar-background-color: $primary;
$footer-background-color: $primary;
$notification-background-color: $background;

// Import only what you need from Bulma
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/sass/base/_all.sass";
@import "./bulma/sass/elements/button.sass";
@import "./bulma/sass/elements/container.sass";
@import "./bulma/sass/elements/title.sass";
@import "./bulma/sass/form/_all.sass";
@import "./bulma/sass/components/navbar.sass";
@import "./bulma/sass/layout/hero.sass";
@import "./bulma/sass/layout/section.sass";
@import "../proyecto1ev/bulma/sass/layout/footer.sass";
@import "bulma/sass/elements/notification.sass"
// Clases
// Estilo btn 'Más información'
// Items

